name: ua_client_hints
description: Provide User-Agent Client Hints to Flutter.
version: 1.1.1
homepage: https://github.com/wasabeef/flutter_ua_client_hints
repository: https://github.com/wasabeef/flutter_ua_client_hints
documentation: https://github.com/wasabeef/flutter_ua_client_hints
issue_tracker: https://github.com/wasabeef/flutter_ua_client_hints/issues

environment:
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.1

flutter:
  plugin:
    platforms:
      android:
        package: jp.wasabeef.ua.client_hints
        pluginClass: UAClientHintsPlugin
      ios:
        pluginClass: UAClientHintsPlugin